.news-archive {
  border: 0;
  border-radius: 0;
  margin-top: 0.1em;
}

.news-archive-summary {
  padding: 0.2em;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.news-archive-body {
  padding: 0.1em 0.75em 0.75em 0;
  border-top: 0;
  margin-top: 0.5em;
}

.edu-logo-pad {
  width: 96px;
  max-width: 96px !important;
  height: auto;
  padding: 10px;
  box-shadow: none !important;
}

.exp-logo {
  padding: 10px;
}
